#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
}
#home{
    height: 370px;
    padding: 3px 68px;
}
#home::before{
    height: 400px;
}
#home h3{
    font-size: 10px;
}
.h-primary{
    font-size: 20px;
}
#services{
    flex-direction: column;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}
#clients{
    flex-wrap: wrap;
}   
#clients img{
    width: 66px;
    padding:2px 6px;
    height: auto;
}
.footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
.footer-col{
        width: 100%;
    }